<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>views.list</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>echecAuth</servlet-name>
		<jsp-file>/WEB-INF/views/echecAuthentification.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>echecAuth</servlet-name>
		<url-pattern>/echecAuthentification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>views.Authentification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>auth</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>authentification</servlet-name>
		<servlet-class>controleur.AuthentificationCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authentification</servlet-name>
		<url-pattern>/authentification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>testAff</servlet-name>
		<servlet-class>controleur.testAffichageControleur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testAff</servlet-name>
		<url-pattern>/testAff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>controleur.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/editProfile</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>Connection Pool</description>
		<res-ref-name>jdbc/jeanr</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>NewContract</servlet-name>
		<servlet-class>controleur.NewContract</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewContract</servlet-name>
		<url-pattern>/newContract</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerContracts</servlet-name>
		<servlet-class>controleur.CustomerContracts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerContracts</servlet-name>
		<url-pattern>/customerContracts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductorContracts</servlet-name>
		<servlet-class>controleur.ProductorContracts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductorContracts</servlet-name>
		<url-pattern>/productorContracts</url-pattern>
	</servlet-mapping>
</web-app>
